.tituloPrincipal {
  font-size: calc(2em + 6vw);
  font-weight: 150;
  /* padding-top: 8rem; */
  padding-bottom: 8rem;
  /* color: white; */
}
.centrar {
  text-align: center;
}
.justificar {
  text-align: justify;
}
.fotoPortada {
  height: 100%;
}
.textoBlanco {
  color: white;
}
header.masthead {
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  /* opacity: 0.9; */
  min-height: calc(2em + 30vw);
}
.iconos {
  max-width: 100px;
  vertical-align: middle;
  align-self: center;
  page-break-inside: auto;
}
.primerSeccion {
  background-color: rgba(159, 205, 255, 1);
  color: rgb(91, 109, 85);
}
.fotoPermacultura {
  width: 100%;
  /* height: 100%; */
}
.foto-card-preparados {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.413) 0,
      rgba(92, 77, 66, 0.386) 100%
    ),
    url(../img/valeriana.jpg);
  /* src="./img/talleresGrupales.jpeg" */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.foto-card-diversidad {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.413) 0,
      rgba(92, 77, 66, 0.386) 100%
    ),
    url(../img/corredor.jpg);
  /* src="./img/talleresGrupales.jpeg" */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.foto-card-calendario {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.413) 0,
      rgba(92, 77, 66, 0.386) 100%
    ),
    url(../img/luna.jpeg);
  /* src="./img/talleresGrupales.jpeg" */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.imagenModales {
  max-height: 400px;
  /* width: auto; */
  /* los siguientes valores son independientes del tamaño del círculo */
  /* background-repeat: no-repeat;
  background-position: 50%; */
  border-radius: 50%;
}
.loteoFisico {
  width: 100%;
}
.textoModales {
  vertical-align: middle;
}
.fotosComunidad {
  max-height: inherit;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
}
.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}
